<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>Detalles del Viaje para Ofrecer</h2>

    <!-- Campo para ingresar el destino -->
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input placeholder="" [(ngModel)]="destination" required></ion-input>
    </ion-item>

    <!-- Campo para la fecha del viaje -->
    <ion-item>
      <ion-label position="floating">Fecha del viaje</ion-label>
      <ion-input type="date" [(ngModel)]="travelDate" required></ion-input>
    </ion-item>

    <!-- Campo para la hora del viaje -->
    <ion-item>
      <ion-label position="floating">Hora de salida</ion-label>
      <ion-input type="time" [(ngModel)]="travelTime" required></ion-input>
    </ion-item>

    <!-- Campo para el costo por persona -->
    <ion-item>
      <ion-label position="floating">Costo por persona</ion-label>
      <ion-input type="number" min="0" placeholder="" [(ngModel)]="costPerPerson" required></ion-input>
    </ion-item>

    <!-- Campo para la cantidad de asientos disponibles -->
    <ion-item>
      <ion-label position="floating">Asientos disponibles</ion-label>
      <ion-input type="number" min="1" placeholder="" [(ngModel)]="availableSeats" required></ion-input>
    </ion-item>

    <!-- Botón para ofrecer el viaje con validación -->
    <ion-button expand="full" color="primary" (click)="submitOffer()" [disabled]="!isFormValid()">
      Ofrecer viaje
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <div class="text-center" style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 10px;">
      <p style="font-size: 0.9rem; color: var(--ion-text-color-step-600); text-align: center;">
        &copy; 2024 TeLlevoAPP. Todos los derechos reservados.
      </p>
    </div>
  </ion-toolbar>
</ion-footer>
