<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Título centrado -->
    <ion-title class="center-title">
      TeLlevoAPP
    </ion-title>
    <!-- Botón de retroceso (Back) al lado derecho -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>xd</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="/">Login</ion-item>
        <ion-item href="/gestion-medios-pago">Agregar Tarjeta</ion-item>
        <ion-item href="/quienes-somos">Quienes Somos?</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
