<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Información del Viaje</h2>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Destino: {{ trip.destination }}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ trip.date }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <p><strong>Hora de Salida:</strong> {{ trip.time }}</p>
      <p><strong>Conductor:</strong> {{ trip.driver }}</p>
      <p><strong>Capacidad:</strong> {{ trip.capacity }} personas</p>
      <p><strong>Comentarios:</strong> {{ trip.comments }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="success" (click)="confirmTrip()">
    Confirmar Viaje
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <div class="text-center" style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 10px;">
      <p style="font-size: 0.9rem; color: var(--ion-text-color-step-600); text-align: center;">
        &copy; 2024 TeLlevoAPP. Todos los derechos reservados.
      </p>
    </div>
  </ion-toolbar>
</ion-footer>
