<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 style="text-align: center;">Recuperar Contraseña</h2>
        <form (ngSubmit)="onRecuperar()">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" style="margin-top: 10px; background-color: #28a745; color: white;">Enviar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <div class="text-center" style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 10px;">
      <p style="font-size: 0.9rem; color: var(--ion-text-color-step-600); text-align: center;">
        &copy; 2024 TeLlevoAPP. Todos los derechos reservados.
      </p>
    </div>
  </ion-toolbar>
</ion-footer>
